# Step 3 - Install the required libraries to the virtual environment
# Make sure you see (venv) at the beginning of your terminal line before running this next step. 
# Close and reopen the terminal if you do not see it after activating the virtual environment.

# Machine Learning Libraries and tools
torch
pandas
scikit-learn
matplotlib

# Run this after the virtual environment is activated with:
# pip install -r 3_requirements.txt